@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --Very-dark-blue-mainbg: hsl(217, 54%, 11%);
  --card-background: hsl(216, 50%, 16%);
  --border-line: hsl(215, 32%, 27%);
  --price-color: hsl(178, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--Very-dark-blue-mainbg);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Outfit";
}

.sr-only {
  clip: rect(1px 1px 1px 1px);
  position: absolute;
}

.cardContainer {
  width: 390px;
  height: 640px;
  background-color: var(--card-background);
  padding: 25px;
  border-radius: 10px;
}

.containsImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.containsImg::before {
  content: url("images/icon-view.svg");
  position: absolute;
  background-color: rgba(22, 252, 244, 0.411);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  opacity: 0;
  transition: 0.35s ease;
}

.containsImg:hover::before {
  opacity: 1;
}

#imgEquilibrium {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 20px 0;
}
h2:hover {
  color: var(--price-color);
  cursor: pointer;
}

.mainContent p {
  color: white;
  opacity: 0.6;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
}

.mainContent span {
  text-transform: capitalize;
}

.priceDuration {
  margin: 0 0 25px 0;
}

.durationDivision {
  float: right;
  display: inline-block;
  opacity: 0.8;
  color: hsl(214, 23%, 70%);
}

.priceDivision {
  display: inline-block;
  color: var(--price-color);
  text-transform: uppercase;
}

.creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: var(--border-line) solid 1px;
  padding: 15px 0 0 0;
}

.creator p {
  margin: 0 0 0 10px;
  font-weight: 400;
  color: rgba(254, 254, 255, 0.5);
}

.creator span {
  text-transform: capitalize;
  color: white;
}
.creator span:hover {
  color: var(--price-color);
  cursor: pointer;
}

.creator span:hover,
h2:hover,
.attribution a:hover {
  transition: 0.3s ease;
  color: var(--price-color);
}

.creator img {
  width: 40px;
  height: auto;
  display: inline-block;
}

.attribution {
  position: relative;
  top: 70px;
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.466);
}

.attribution a {
  color: rgb(27, 192, 129);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline rgb(8, 248, 156);
}

@media screen and (max-width: 500px) {
  .cardContainer {
    height: 90%;
    width: 90%;
  }

  .attribution {
    top: 10px;
    font-size: 14px;
    text-align: center;
  }
}
